<div class="loadingWraper" ng-show="loader">
	<div class="mdl-spinner mdl-js-spinner is-active"></div>
</div>
<div class="demo-layout-transparent mdl-layout mdl-js-layout">
  <div class="mdl-layout__header-row">
  </div>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title" style="font-size: x-large;line-height:40px;margin-top:30px;margin-bottom:30px;">
      <center>
        <b style="font-family: 'Nunito',sans-serif;">Hello,<br /> {{username}}</b>
      </center>
    </span>
    <center>
      <hr style="border-style: solid;border-width: 2px;height:0px;border-top:0;width:70%;padding-bottom:0;" />
    </center>
    <nav class="mdl-navigation" style="padding-top:0;">
      <a class="mdl-navigation__link link_wallet" ng-click="goWallet()"><center>Wallet</center></a>
      <a class="mdl-navigation__link link_history" ng-click="goHistory()"><center>History</center></a>
      <a class="mdl-navigation__link link_logout" ng-click="goLogout()"><center>Log Out</center></a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <center>
      <table style="width:80%;height:30%;">
        <tr>
          <td style="width:5%">
          &nbsp;
          </td>
          <td style="line-height:0px;" align="center">
            <p style="margin-bottom:0px;color:#424242;font-size:18px;">
              Total Recorded Transactions
            </p>
          <br />
            <p style="margin-top:0px;font-weight:bold;color:#424242;font-size:30px;">
              {{total_transactions}} Transactions
            </p>
          </td>
          <td style="width:5%">
          &nbsp;
          </td>
        </tr>
      </table>
      <br />
      <br />
      <table style="width:80%;">
        <tr>
          <td style="width:50%">
            <div style="display:flex;" ng-click="showSortDialog()">
              <img class="" src="assets/img/05 - Sort Icon.png" alt="" width="25" height="25"/>&nbsp;&nbsp;
              <p style="margin-top:0px;font-weight:bold;color:#424242;font-size:30px;">
                Sort
              </p>
              <i class="material-icons">arrow_drop_down</i>
            </div>
          </td>
          <td style="width:50%">
            <div style="display:flex;" ng-click="showFilterDialog()">
              <img class="" src="assets/img/04 - Filter Icon.png" alt=""  width="25" height="25"/>&nbsp;&nbsp;
              <p style="margin-top:0px;font-weight:bold;color:#424242;font-size:30px;">
                Filter
              </p>
              <i class="material-icons">arrow_drop_down</i>
            </div>
          </td>
        </tr>
      </table>
      <br />
      <div style="width:100%; height:65vh;background-color:#bdbdbd;overflow:scroll;" class="list-group" id="list_history">
				<div style="margin-top:15px;margin-bottom:15px;">
	        <div class="mdl-card list-group-item" style="width:100%;min-height:auto;top:5%;" ng-repeat="item in items">
	          <div class="mdl-card__media" style="height:10px;background-color:#71b58b;" ng-if="item.pocket_id == 1">
	          </div>
						<div class="mdl-card__media" style="height:10px;background-color:#ff7388;" ng-if="item.pocket_id == 2">
	          </div>
						<div class="mdl-card__media" style="height:10px;background-color:#00bcd4;" ng-if="item.pocket_id == 3">
	          </div>
						<div class="mdl-card__media" style="height:10px;background-color:#f9db0a;" ng-if="item.pocket_id == 4">
	          </div>
	          <div class="mdl-card__supporting-text">
	          <table style="width:100%;">
	            <tr>
								<td style="width:50%;color:#71b58b;" ng-if="item.pocket_id == 1">
									<h5 style="margin-top:0;margin-bottom:0;font-size:15px;" ng-if="item.transaction_type_id == 1">CASH IN</h5>
									<h5 style="margin-top:0;margin-bottom:0;font-size:15px;" ng-if="item.transaction_type_id == 2">
										CASH OUT : <p ng-if="item.purpose_id == 1">FOOD</p><p ng-if="item.purpose_id == 2">TRANSPORT</p><p ng-if="item.purpose_id == 3">ETERTAINMENt</p><p ng-if="item.purpose_id == 4">OTHER</p>
									</h5>
								</td>
								<td style="width:50%;color:#ff7388;" ng-if="item.pocket_id == 2">
									<h5 style="margin-top:0;margin-bottom:0;font-size:15px;" ng-if="item.transaction_type_id == 1">CASH IN</h5>
									<h5 style="margin-top:0;margin-bottom:0;font-size:15px;" ng-if="item.transaction_type_id == 2">
										CASH  : <p ng-if="item.purpose_id == 1">FOOD</p><p ng-if="item.purpose_id == 2">TRANSPORT</p><p ng-if="item.purpose_id == 3">ETERTAINMENt</p><p ng-if="item.purpose_id == 4">OTHER</p>
									</h5>
								</td>
								<td style="width:50%;color:#00bcd4;" ng-if="item.pocket_id == 3">
									<h5 style="margin-top:0;margin-bottom:0;font-size:15px;" ng-if="item.transaction_type_id == 1">CASH IN</h5>
									<h5 style="margin-top:0;margin-bottom:0;font-size:15px;" ng-if="item.transaction_type_id == 2">
										CASH OUT : <p ng-if="item.purpose_id == 1">FOOD</p><p ng-if="item.purpose_id == 2">TRANSPORT</p><p ng-if="item.purpose_id == 3">ETERTAINMENt</p><p ng-if="item.purpose_id == 4">OTHER</p>
									</h5>
								</td>
	              <td style="width:50%;color:#f9db0a;" ng-if="item.pocket_id == 4">
									<h5 style="margin-top:0;margin-bottom:0;font-size:15px;" ng-if="item.transaction_type_id == 1">CASH IN</h5>
									<h5 style="margin-top:0;margin-bottom:0;font-size:15px;" ng-if="item.transaction_type_id == 2">
										CASH OUT : <p ng-if="item.purpose_id == 1">FOOD</p><p ng-if="item.purpose_id == 2">TRANSPORT</p><p ng-if="item.purpose_id == 3">ETERTAINMENt</p><p ng-if="item.purpose_id == 4">OTHER</p>
									</h5>
	              </td>
	              <td style="width:50%;text-align:right;"><h5 style="margin-top:0;margin-bottom:0;font-size:15px;color:#424242;">{{item.amount | currency:"RP ":0}}</h5></td>
	            </tr>
	            <tr>
	              <td>{{item.notes}}</td>
	              <td style="text-align:right;">{{item.created_at | date : "dd MMMM yyyy"}}</td>
	            </tr>
	          </table>
	          </div>
	        </div>
				<br /><br />
        <div ng-hide="loadingHistory">
          <h5 style="width:100%;color:#424242;">
            Swipe Up to Load More
          </h5>
        </div>
        <div ng-show="loadingHistory">
          <div class="mdl-spinner mdl-js-spinner is-active"></div>
        </div>
				</div>
      </div>
    </center>
  </main>
</div>
<dialog id="sort_dialog" class="mdl-dialog">
  <div class="mdl-dialog__content" style="padding: 20px 0px 0px 0px;">
    <div class="mdl-tabs mdl-js-tabs">
        <div class="mdl-tabs__tab-bar">
           <a href="#date-panel" class="mdl-tabs__tab is-active" style="width:50%;padding: 0 0;outline: none;" ng-click="sortDate()">
             <p style="margin-top:0px;font-weight:bold;color:#424242;font-size:23px;">
               Date
             </p>
           </a>
           <a href="#amount-panel" class="mdl-tabs__tab"  style="width:50%;padding: 0 0;outline: none;" ng-click="sortAmount()">
             <p style="margin-top:0px;font-weight:bold;color:#424242;font-size:23px;" style="width:50%">
               Amount
             </p>
           </a>
        </div>
        <div class="mdl-tabs__panel is-active" id="date-panel" style="height:200px;">
           <center>
           <table style="width:80%;height:100px;">
            <tr>
              <td>
                <label class="mdl-radio mdl-js-radio" for="mro">
                    <input type="radio" id="mro" name="date" value="desc" ng-model="sort.date" class="mdl-radio__button">
                    <span class="mdl-radio__label">Most Recent - Oldest</span>
                </label>
              </td>
            </tr>
            <tr>
              <td>
                <label class="mdl-radio mdl-js-radio" for="omr">
                    <input type="radio" id="omr" name="date" value="asc" ng-model="sort.date" class="mdl-radio__button">
                    <span class="mdl-radio__label">Oldest - Most Recent</span>
                </label>
              </td>
            </tr>
           </table>
         </center>
        </div>
        <div class="mdl-tabs__panel" id="amount-panel" style="height:200px;">
          <center>
          <table style="width:80%;height:100px;">
           <tr>
             <td>
               <label class="mdl-radio mdl-js-radio" for="hlo">
                   <input type="radio" id="hlo" name="amount" value="desc" ng-model="sort.amount" class="mdl-radio__button">
                   <span class="mdl-radio__label">Highest - Lowest</span>
               </label>
             </td>
           </tr>
           <tr>
             <td>
               <label class="mdl-radio mdl-js-radio" for="loh">
                   <input type="radio" id="loh" name="amount" value="asc" ng-model="sort.amount" class="mdl-radio__button">
                   <span class="mdl-radio__label">Lowest - Highest</span>
               </label>
             </td>
           </tr>
          </table>
          </center>
        </div>
     </div>
  </div>
  <div class="mdl-dialog__actions">
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="background-color:#6cb043;width:100%;height:100%;" ng-click="applySort()">
			<b style="font-size:20px;">APPLY</b>
		</button>
  </div>
</dialog>
<dialog id="filter_dialog" class="mdl-dialog">
  <div class="mdl-dialog__content" style="padding: 20px 0px 0px 0px;">
    <div class="mdl-tabs mdl-js-tabs">
        <div class="mdl-tabs__tab-bar">
           <a href="#pocket-panel" class="mdl-tabs__tab is-active" style="width:50%;padding: 0 0;outline: none;" ng-click="filterPockets()">
             <p style="margin-top:0px;font-weight:bold;color:#424242;font-size:23px;">
               Pocket
             </p>
           </a>
           <a href="#purpose-panel" class="mdl-tabs__tab"  style="width:50%;padding: 0 0;outline: none;" ng-click="filterPurposes()">
             <p style="margin-top:0px;font-weight:bold;color:#424242;font-size:23px;" style="width:50%">
               Purpose
             </p>
           </a>
        </div>
        <div class="mdl-tabs__panel is-active" id="pocket-panel" style="height:200px;">
           <center><br />
           <table style="width:80%;height:100px;">
            <tr>
              <td>
                <label class="mdl-checkbox mdl-js-checkbox" for="green">
                  <input type="checkbox" id="green" class="mdl-checkbox__input" name="pockets" ng-model="pockets.green">
                  <span class="mdl-checkbox__label">Green</span>
                </label>
              </td>
            </tr>
            <tr>
              <td>
                <label class="mdl-checkbox mdl-js-checkbox" for="red">
                  <input type="checkbox" id="red" class="mdl-checkbox__input" name="pockets" ng-model="pockets.red">
                  <span class="mdl-checkbox__label">Red</span>
                </label>
              </td>
            </tr>
            <tr>
              <td>
                <label class="mdl-checkbox mdl-js-checkbox" for="blue">
                  <input type="checkbox" id="blue" class="mdl-checkbox__input" name="pockets" ng-model="pockets.blue">
                  <span class="mdl-checkbox__label">Blue</span>
                </label>
              </td>
            </tr>
            <tr>
              <td>
                <label class="mdl-checkbox mdl-js-checkbox" for="yellow">
                  <input type="checkbox" id="yellow" class="mdl-checkbox__input" name="pockets" ng-model="pockets.yellow">
                  <span class="mdl-checkbox__label">Yellow</span>
                </label>
              </td>
            </tr>
           </table>
         </center>
        </div>
        <div class="mdl-tabs__panel" id="purpose-panel" style="height:200px;">
          <center><br />
          <table style="width:80%;height:100px;">
           <tr>
             <td>
               <label class="mdl-checkbox mdl-js-checkbox" for="food">
                 <input type="checkbox" id="food" class="mdl-checkbox__input" name="purposes" ng-model="purposes.food">
                 <span class="mdl-checkbox__label">Food & Groceries</span>
               </label>
             </td>
           </tr>
           <tr>
             <td>
               <label class="mdl-checkbox mdl-js-checkbox" for="transport">
                 <input type="checkbox" id="transport" class="mdl-checkbox__input" name="purposes" ng-model="purposes.transport">
                 <span class="mdl-checkbox__label">Transport</span>
               </label>
             </td>
           </tr>
           <tr>
             <td>
               <label class="mdl-checkbox mdl-js-checkbox" for="entertainment">
                 <input type="checkbox" id="entertainment" class="mdl-checkbox__input" name="purposes" ng-model="purposes.entertainment">
                 <span class="mdl-checkbox__label">Entertainment</span>
               </label>
             </td>
           </tr>
           <tr>
             <td>
               <label class="mdl-checkbox mdl-js-checkbox" for="other">
                 <input type="checkbox" id="other" class="mdl-checkbox__input" name="purposes" ng-model="purposes.other">
                 <span class="mdl-checkbox__label">Other</span>
               </label>
             </td>
           </tr>
          </table>
          </center>
        </div>
     </div>
  </div>
  <div class="mdl-dialog__actions">
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="background-color:#6cb043;width:100%;height:100%;" ng-click="applyFilter()">
			<b style="font-size:20px;">APPLY</b>
		</button>
  </div>
</dialog>
