<div class="loadingWraper" ng-show="loader">
	<div class="mdl-spinner mdl-js-spinner is-active"></div>
</div>
<div class="mdl-layout mdl-js-layout" id="layout-login">
	<main id="content-login" style="width:80%;">
		<div>
			<div style="width:100%;" ng-cloak>
				<center><h3 style="font-family: 'Nunito',sans-serif;font-size:40px;"><b>{{login_title}}</b></h3></center>
			</div>
	  	<div style="width:100%;">
				<form id="formLogin" name="formLogin">
					<div class="mdl-textfield mdl-js-textfield" style="width:100%;">
						<input class="mdl-textfield__input" type="email" id="email" ng-model="email" name="email" required autocomplete="off"/>
						<label class="mdl-textfield__label" for="email">Email</label>
					</div>
					<div class="mdl-textfield mdl-js-textfield" style="width:100%;">
						<input class="mdl-textfield__input" type="password" id="password" ng-model="password" name="password" required/>
						<label class="mdl-textfield__label" for="password">Password</label>
					</div>
					<div class="mdl-textfield mdl-js-textfield" style="padding-top:10px;padding-bottom:40px;width:100%;">
						<table style="width:100%;font-family: 'Nunito',sans-serif;">
							<tr>
								<td style="width:50%;font-size:12px;"><b id="sign_up" ng-click="openSignUp()">Sign Up</b></td>
								<td style="width:50%;font-size:12px;" align="right"><font id="forget_password" ng-click="openForgetPassword()">Forget Password</font></td>
							</tr>
						</table>
					</div>
					<div class="mdl-textfield mdl-js-textfield" style="padding-top:30px;width:100%;">
						<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="background-color:#6cb043;width:100%;border-radius:4px;border:white;border-style:solid;border-width:1px;height:100%;" ng-show="!formLogin.$error.email && !formLogin.$error.required" ng-click="submitForm();">
						  <b style="font-size:20px;font-family: 'Nunito',sans-serif;">LOG IN</b>
						</button>
						<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"  style="background-color:#9e9e9e;width:100%;border-radius:4px;border:white;border-style:solid;border-width:1px;height:100%;" ng-hide="!formLogin.$error.email && !formLogin.$error.required" disabled>
						  <b style="font-size:20px;color:white;font-family: 'Nunito',sans-serif;">LOG IN</b>
						</button>
					</div>
				</form>
			</div>
			<div style="font-size:14px;padding-top:30px;">
				<center>
					Made by <b>CodeAny</b>
				</center>
			</div>
		</div>
	</main>
</div>

<dialog id="error_dialog" class="mdl-dialog">
  <div class="mdl-dialog__content">
		<center>
			<h5>
	      Sorry, {{error_message}}
	    </h5>
		</center>
  </div>
  <div class="mdl-dialog__actions">
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="background-color:#6cb043;width:100%;height:100%;" ng-click="closeModal()">
			<b style="font-size:20px;">DISMISS</b>
		</button>
  </div>
</dialog>

<dialog id="success_dialog" class="mdl-dialog">
  <div class="mdl-dialog__content">
		<center>
			<h5>
	      {{success_message}}
	    </h5>
		</center>
  </div>
  <div class="mdl-dialog__actions">
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="background-color:#6cb043;width:100%;height:100%;" ng-click="closeModal_3()">
			<b style="font-size:20px;">DISMISS</b>
		</button>
  </div>
</dialog>

<dialog id="success_dialog2" class="mdl-dialog">
  <div class="mdl-dialog__content">
		<center>
			<h6 style="font-size:17px;">
				Hello There,
			</h6>
			<h6 style="font-size:17px;">
				We have sent an email confirmation to
			</h6>
			<h6 style="font-size:17px;font-weight:bold;">{{email_sent}}</h6>
			<h6 style="font-size:17px;">
				Click link on your email to log in
			</h6>
		</center>
  </div>
  <div class="mdl-dialog__actions">
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="background-color:#6cb043;width:100%;height:100%;" ng-click="closeModal_4()">
			<b style="font-size:20px;font-family: 'Nunito',sans-serif;">DISMISS</b>
		</button>
  </div>
</dialog>

<dialog id="signup_dialog" class="mdl-dialog">
  <div class="mdl-dialog__content">
		<center>
			<form name="formRegiter" id="formRegister">
				<div class="mdl-textfield mdl-js-textfield" style="width:100%;">
					<input class="mdl-textfield__input" type="email" id="regist_email" name="regist_email" ng-model="regist_email" autocomplete="off" required/>
					<label class="mdl-textfield__label" for="regist_email">Email</label>
				</div>
				<div class="mdl-textfield mdl-js-textfield" style="width:100%;">
					<input class="mdl-textfield__input" type="text" id="regist_username" name="regist_username" ng-model="regist_username" autocomplete="off" required />
					<label class="mdl-textfield__label" for="regist_username">Username</label>
				</div>
				<div class="mdl-textfield mdl-js-textfield" style="width:100%;">
					<input class="mdl-textfield__input" type="password" id="regist_password" name="regist_password" ng-model="regist_password" required />
					<label class="mdl-textfield__label" for="regist_password">Password</label>
				</div>
				<div class="mdl-textfield mdl-js-textfield" style="width:100%;">
					<input class="mdl-textfield__input" type="password" id="regist_password_conf" name="regist_password_conf" ng-model="regist_password_conf" required />
					<label class="mdl-textfield__label" for="regist_password_conf">Re-entry Password</label>
				</div>
			</form>
		</center>
  </div>
  <div class="mdl-dialog__actions">
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="background-color:#6cb043;width:100%;height:100%;" ng-show="!formRegiter.$error.email && !formRegiter.$error.required" ng-click="registerUser()">
			<b style="font-size:20px;font-family: 'Nunito',sans-serif;">SIGN UP</b>
		</button>
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="background-color:#9e9e9e;width:100%;height:100%;margin-right:0px;" ng-hide="!formRegiter.$error.email && !formRegiter.$error.required" disabled>
			<b style="font-size:20px;color:white;font-family: 'Nunito',sans-serif;">SIGN UP</b>
		</button>
  </div>
</dialog>
<dialog id="forgot_dialog" class="mdl-dialog">
  <div class="mdl-dialog__content">
		<center>
			<h5 style="font-family: 'Nunito',sans-serif;">Insert your registered email</h5>
			<form name="formForgot" id="formForgot">
				<div class="mdl-textfield mdl-js-textfield" style="width:90%;">
					<input class="mdl-textfield__input" type="email" id="fogot_email" style="text-align:center;font-size:25px;" ng-model="forgot_email" name="forgot_email" autocomplete="off" required/>
				</div>
			</form>
		</center>
  </div>
  <div class="mdl-dialog__actions">
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="background-color:#6cb043;width:100%;height:100%;" ng-show="!formForgot.$error.email && !formForgot.$error.required" ng-click="sendEmailForgot();">
			<b style="font-size:20px;font-family: 'Nunito',sans-serif;">SEND CONFIRMATION</b>
		</button>
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="background-color:#9e9e9e;width:100%;height:100%;margin-right:0px;" ng-hide="!formForgot.$error.email && !formForgot.$error.required" disabled>
			<b style="font-size:20px;color:white;font-family: 'Nunito',sans-serif;">SEND CONFIRMATION</b>
		</button>
  </div>
</dialog>
