<div class="loadingWraper" ng-show="loader">
	<div class="mdl-spinner mdl-js-spinner is-active"></div>
</div>
<div class="demo-layout-transparent demo-layout-transparent-wallet mdl-layout mdl-js-layout">
  <div class="mdl-layout__header-row">
    <span class="android-mobile-title mdl-layout-title" style="left: calc(85%) !important;">
      <img class="android-logo-image" src="assets/img/33 - BrandIcon on Homepage.png" style="height: 40px;width: 40px;">
    </span>
  </div>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title" style="font-size: x-large;line-height:40px;margin-top:30px;margin-bottom:30px;font-family: 'Nunito',sans-serif;">
      <center>
        <b>Hello,<br /> {{username}}</b>
      </center>
    </span>
    <center>
      <hr style="border-style: solid;border-width: 2px;height:0px;border-top:0;width:70%;padding-bottom:0;" />
    </center>
    <nav class="mdl-navigation" style="padding-top:0;">
      <a class="mdl-navigation__link link_wallet" ng-click="goWallet()"><center>Wallet</center></a>
      <a class="mdl-navigation__link link_history" ng-click="goHistory()"><center>History</center></a>
      <a class="mdl-navigation__link link_logout" ng-click="goLogout()"><center>Log Out</center></a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <center>
      <table style="width:80%;height:30%;">
        <tr>
          <td style="width:10%">
          &nbsp;
          </td>
          <td style="line-height:0px;">
            <h4 style="margin-bottom:0px;color:#424242;font-family: 'Nunito',sans-serif;">
              All Balance
            </h4>
          <br />
            <h3 style="margin-top:0px;font-weight:bold;color:#424242;font-size:32px;font-family: 'Nunito',sans-serif;" ng-cloak>
              {{total_balances | currency:"RP ":0}}
            </h3>
          </td>
          <td style="width:10%">
          &nbsp;
          </td>
        </tr>
      </table>
      <br />
      <br />
      <hr style="border-style: solid;border-width: 2px;height:0px;border-top:0;width:70%;padding-bottom:0;"/>
      <table style="width:80%;border-spacing: 10px;">
        <tr>
          <td>
            <div class="image" style="position: relative;width: 100%;" ng-click="openPocket(1)">
              <img class="image_wallet" src="assets/img/12 - Green Wallet.png"/>
              <center><h5 style="position: absolute;top: 55%;left: 0;width: 100%;color: white;font-family: 'Nunito',sans-serif;" ng-cloak>{{balances_1 | currency:"RP ":0}}</h5></center>
            </div>
          </td>
          <td>
            <div class="image" style="position: relative;width: 100%;" ng-click="openPocket(2)">
              <img class="image_wallet" src="assets/img/13 - Red Wallet.png" alt="" />
              <center><h5 style="position: absolute;top: 55%;left: 0;width: 100%;color: white;font-family: 'Nunito',sans-serif;" ng-cloak>{{balances_2 | currency:"RP ":0}}</h5></center>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="image" style="position: relative;width: 100%;" ng-click="openPocket(3)">
              <img class="image_wallet" src="assets/img/14 - Blue Wallet.png" alt="" />
              <center><h5 style="position: absolute;top: 55%;left: 0;width: 100%;color: white;font-family: 'Nunito',sans-serif;" ng-cloak>{{balances_3 | currency:"RP ":0}}</h5></center>
            </div>
          </td>
          <td>
            <div class="image" style="position: relative;width: 100%;" ng-click="openPocket(4)">
              <img class="image_wallet" src="assets/img/15 - Yellow Wallet.png" alt="" />
              <center><h5 style="position: absolute;top: 55%;left: 0;width: 100%;color: white;font-family: 'Nunito',sans-serif;" ng-cloak>{{balances_4 | currency:"RP ":0}}</h5></center>
            </div>
          </td>
        </tr>
      </table>
    </center>
  </main>
</div>
<dialog id="success_transaction" class="mdl-dialog">
  <div class="mdl-dialog__content">
		<center>
			<img class="" src="assets/img/31 - Success Icon.png" alt="" style="width:100%"/>
      <br /><br />
      <p style="font-size:17px;">
        {{success_message}}
      </p>
		</center>
  </div>
  <div class="mdl-dialog__actions" ng-click="goHistory()">
      <p style="font-size:17px;font-weight:bold;width:100%;text-align:center;">
          Check History
      </p>
  </div>
</dialog>

<dialog id="error_dialog" class="mdl-dialog">
  <div class="mdl-dialog__content">
		<center>
			<h5>
	      Sorry, {{error_message}}
	    </h5>
		</center>
  </div>
  <div class="mdl-dialog__actions">
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="background-color:#6cb043;width:100%;height:100%;" ng-click="closeModal()">
			<b style="font-size:20px;">DISMISS</b>
		</button>
  </div>
</dialog>

<dialog id="pocket_1" class="mdl-dialog">
  <div class="mdl-dialog__title" style="padding:0px 0px 0px 0px;width:100%;display: flex;">
    <div style="width:50%;position: relative;" ng-click="clickCashout(1)">
      <img src="assets/img/{{imageCashout_1}}" alt="" style="width:98%;height: 70px;" ng-cloak/>
      <center><h5 style="position: absolute;top: 0%;right: 5px;width: 100%;color: white;">Cash Out</h5></center>
    </div>
    <!-- OR -->
    <div style="width:50%;text-align:right;position: relative;" ng-click="clickCashin(1)">
      <img class="" src="assets/img/{{imageCashin_1}}" alt="" style="width:98%;height: 70px;" ng-cloak/>
      <center><h5 style="position: absolute;top: 0%;right: 0px;width: 100%;color: white;">Cash In</h5></center>
    </div>
  </div>
  <div class="mdl-dialog__content" style="padding:0px 0px 0px 0px;width:100%;">
    <br />
		<center>
			<input class="mdl-textfield__input" type="number" id="cashbalance_1" style="text-align:center;font-size:30px;border-bottom:0px;" ng-model="cashbalance_1" autocomplete="off" placeholder="RP 0" ng-keyup="activeSubmit(1)"/>
      <p>
        Your Pocket Balance : {{balances_1 | currency:"RP ":0}}
      </p>
      <br />
			<div ng-show="cashOut_1">
				<b style="color:#71b58b;">
	        PURPOSE :
	      </b><br /><br />
	      <span class="mdl-chip" style="color:white;" id="foodchip_1" ng-click="chipActive_1('foodchip_1')">
	        <span class="mdl-chip__text"><b>FOOD</b></span>
	      </span>
	      <span class="mdl-chip" style="color:white;" id="transportchip_1" ng-click="chipActive_1('transportchip_1')">
	        <span class="mdl-chip__text"><b>TRANSPORT</b></span>
	      </span>
	      <span class="mdl-chip" style="color:white;" id="entertainmentchip_1" ng-click="chipActive_1('entertainmentchip_1')">
	        <span class="mdl-chip__text"></b>ENTERTAINMENT</b></span>
	      </span>
	      <span class="mdl-chip" style="color:white;" id="othercip_1" ng-click="chipActive_1('othercip_1')">
	        <span class="mdl-chip__text"><b>OTHER</b></span>
	      </span>
			</div>
      <br />
			<div ng-show="balancis_1">
				<div class="mdl-card">
	        <div class="mdl-card__media" style="background-color:#71b58b;">
	        </div>
	        <div class="mdl-card__supporting-text" style="background-color:#71b58b;">
	          <table style="width:100%;">
	            <tr>
	              <td style="width:50%;"><i style="color:white;">Cash Out</i></td>
	              <td style="width:50%;text-align:right;"><i style="color:white;">Balance</i></td>
	            </tr>
	            <tr>
	              <td>
	                <h5 style="margin-top:0;margin-bottom:0;font-size:15px;color:white;">{{balances_1 | currency:"RP ":0}}</h5>
	              </td>
	              <td style="text-align:right;">
	                <h5 style="margin-top:0;margin-bottom:0;font-size:15px;color:white;">{{balances_1 | currency:"RP ":0}}</h5>
	              </td>
	            </tr>
	          </table>
	        </div>
	      </div>
	      <div class="mdl-card">
	        <div class="mdl-card__media" style="height:10px;background-color:#ff7388">
	        </div>
	        <div class="mdl-card__supporting-text" id="background-balancis-red-1" style="background-color:#dedede;">
	          <table style="width:100%;">
	            <tr>
	              <td style="width:50%;"><i>Cash Out</i></td>
	              <td style="width:50%;text-align:right;"><i>Balance</i></td>
	            </tr>
	            <tr>
	              <td>
									<input class="mdl-textfield__input" type="number" id="balancis_1_red" style="font-size:15px;border-bottom:0px;" ng-model="balancis_1_red" autocomplete="off" placeholder="RP 0" ng-keyup="aditionalBalances_1('balancis_1_red')"/>
	              </td>
	              <td style="text-align:right;">
	                <h5 style="margin-top:0;margin-bottom:0;font-size:15px;color:#424242;">{{balances_2 | currency:"RP ":0}}</h5>
	              </td>
	            </tr>
	          </table>
	        </div>
	      </div>
	      <div class="mdl-card">
	        <div class="mdl-card__media" style="height:10px;background-color:#00bcd4;">
	        </div>
	        <div class="mdl-card__supporting-text" id="background-balancis-blue-1" style="background-color:#dedede;">
	          <table style="width:100%;">
	            <tr>
	              <td style="width:50%;"><i>Cash Out</i></td>
	              <td style="width:50%;text-align:right;"><i>Balance</i></td>
	            </tr>
	            <tr>
	              <td>
	                <input class="mdl-textfield__input" type="number" id="balancis_1_blue" style="font-size:15px;border-bottom:0px;" ng-model="balancis_1_blue" autocomplete="off" placeholder="RP 0" ng-keyup="aditionalBalances_1('balancis_1_blue')"/>
	              </td>
	              <td style="text-align:right;">
	                <h5 style="margin-top:0;margin-bottom:0;font-size:15px;color:#424242;">{{balances_3 | currency:"RP ":0}}</h5>
	              </td>
	            </tr>
	          </table>
	        </div>
	      </div>
	      <div class="mdl-card">
	        <div class="mdl-card__media" style="height:10px;background-color:#f9db0a;">
	        </div>
	        <div class="mdl-card__supporting-text" id="background-balancis-yellow-1" style="background-color:#dedede;">
	          <table style="width:100%;">
	            <tr>
	              <td style="width:50%;"><i>Cash Out</i></td>
	              <td style="width:50%;text-align:right;"><i>Balance</i></td>
	            </tr>
	            <tr>
	              <td>
	                <input class="mdl-textfield__input" type="number" id="balancis_1_yellow" style="font-size:15px;border-bottom:0px;" ng-model="balancis_1_yellow" autocomplete="off" placeholder="RP 0" ng-keyup="aditionalBalances_1('balancis_1_yellow')"/>
	              </td>
	              <td style="text-align:right;">
	                <h5 style="margin-top:0;margin-bottom:0;font-size:15px;color:#424242;">{{balances_4 | currency:"RP ":0}}</h5>
	              </td>
	            </tr>
	          </table>
	        </div>
	      </div>
			</div>
      <div class="mdl-textfield mdl-js-textfield">
         <textarea class="mdl-textfield__input" type="text" rows="2" id="notes_1" ng-model="notes_1" ng-change="activeSubmitViaNotes(1)"></textarea>
         <label class="mdl-textfield__label" for="notes_1">Click to Add Notes</label>
      </div>
		</center>
  </div>
  <div class="mdl-dialog__actions" style="padding: 0px 0px 0px 0px;">
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="background-color:#6cb043;width:100%;height:100%;" ng-show="buttonSubmit_1" ng-click='submitBalances(1)'>
			<b style="font-size:20px;">SUBMIT</b>
		</button>
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="background-color:#9e9e9e;width:100%;height:100%;margin-right:0px;color:white;" ng-hide="buttonSubmit_1" disabled>
			<b style="font-size:20px;">SUBMIT</b>
		</button>
  </div>
</dialog>

<dialog id="pocket_2" class="mdl-dialog">
	<div class="mdl-dialog__title" style="padding:0px 0px 0px 0px;width:100%;display: flex;">
    <div style="width:50%;position: relative;" ng-click="clickCashout(2)">
      <img src="assets/img/{{imageCashout_2}}" alt="" style="width:98%;height: 70px;" ng-cloak/>
      <center><h5 style="position: absolute;top: 0%;right: 5px;width: 100%;color: white;">Cash Out</h5></center>
    </div>
    <!-- OR -->
    <div style="width:50%;text-align:right;position: relative;" ng-click="clickCashin(2)">
      <img class="" src="assets/img/{{imageCashin_2}}" alt="" style="width:98%;height: 70px;" ng-cloak/>
      <center><h5 style="position: absolute;top: 0%;right: 0px;width: 100%;color: white;">Cash In</h5></center>
    </div>
  </div>
	<div class="mdl-dialog__content" style="padding:0px 0px 0px 0px;width:100%;">
    <br />
		<center>
			<input class="mdl-textfield__input" type="number" id="cashbalance_2" style="text-align:center;font-size:30px;border-bottom:0px;" ng-model="cashbalance_2" autocomplete="off" placeholder="RP 0" ng-keyup="activeSubmit(2)"/>
      <p>
        Your Pocket Balance : {{balances_2 | currency:"RP ":0}}
      </p>
      <br />
			<div ng-show="cashOut_2">
				<b style="color:#ff7388;">
	        PURPOSE :
	      </b><br /><br />
	      <span class="mdl-chip" style="color:white;" id="foodchip_2" ng-click="chipActive_2('foodchip_2')">
	        <span class="mdl-chip__text"><b>FOOD</b></span>
	      </span>
	      <span class="mdl-chip" style="color:white;" id="transportchip_2" ng-click="chipActive_2('transportchip_2')">
	        <span class="mdl-chip__text"><b>TRANSPORT</b></span>
	      </span>
	      <span class="mdl-chip" style="color:white;" id="entertainmentchip_2" ng-click="chipActive_2('entertainmentchip_2')">
	        <span class="mdl-chip__text"></b>ENTERTAINMENT</b></span>
	      </span>
	      <span class="mdl-chip" style="color:white;" id="othercip_2" ng-click="chipActive_2('othercip_2')">
	        <span class="mdl-chip__text"><b>OTHER</b></span>
	      </span>
			</div>
      <br />
			<div ng-show="balancis_2">
				<div class="mdl-card">
	        <div class="mdl-card__media" style="background-color:#ff7388;">
	        </div>
	        <div class="mdl-card__supporting-text" style="background-color:#ff7388;">
	          <table style="width:100%;">
	            <tr>
	              <td style="width:50%;"><i style="color:white;">Cash Out</i></td>
	              <td style="width:50%;text-align:right;"><i style="color:white;">Balance</i></td>
	            </tr>
	            <tr>
	              <td>
	                <h5 style="margin-top:0;margin-bottom:0;font-size:15px;color:white;">{{balances_2 | currency:"RP ":0}}</h5>
	              </td>
	              <td style="text-align:right;">
	                <h5 style="margin-top:0;margin-bottom:0;font-size:15px;color:white;">{{balances_2 | currency:"RP ":0}}</h5>
	              </td>
	            </tr>
	          </table>
	        </div>
	      </div>
	      <div class="mdl-card">
	        <div class="mdl-card__media" style="height:10px;background-color:#71b58b">
	        </div>
	        <div class="mdl-card__supporting-text" id="background-balancis-green-2" style="background-color:#dedede;">
	          <table style="width:100%;">
	            <tr>
	              <td style="width:50%;"><i>Cash Out</i></td>
	              <td style="width:50%;text-align:right;"><i>Balance</i></td>
	            </tr>
	            <tr>
	              <td>
									<input class="mdl-textfield__input" type="number" id="balancis_2_green" style="font-size:15px;border-bottom:0px;" ng-model="balancis_2_green" autocomplete="off" placeholder="RP 0" ng-keyup="aditionalBalances_2('balancis_2_green')"/>
	              </td>
	              <td style="text-align:right;">
	                <h5 style="margin-top:0;margin-bottom:0;font-size:15px;color:#424242;">{{balances_1 | currency:"RP ":0}}</h5>
	              </td>
	            </tr>
	          </table>
	        </div>
	      </div>
	      <div class="mdl-card">
	        <div class="mdl-card__media" style="height:10px;background-color:#00bcd4;">
	        </div>
	        <div class="mdl-card__supporting-text" id="background-balancis-blue-2" style="background-color:#dedede;">
	          <table style="width:100%;">
	            <tr>
	              <td style="width:50%;"><i>Cash Out</i></td>
	              <td style="width:50%;text-align:right;"><i>Balance</i></td>
	            </tr>
	            <tr>
	              <td>
	                <input class="mdl-textfield__input" type="number" id="balancis_2_blue" style="font-size:15px;border-bottom:0px;" ng-model="balancis_2_blue" autocomplete="off" placeholder="RP 0" ng-keyup="aditionalBalances_2('balancis_2_blue')"/>
	              </td>
	              <td style="text-align:right;">
	                <h5 style="margin-top:0;margin-bottom:0;font-size:15px;color:#424242;">{{balances_3 | currency:"RP ":0}}</h5>
	              </td>
	            </tr>
	          </table>
	        </div>
	      </div>
	      <div class="mdl-card">
	        <div class="mdl-card__media" style="height:10px;background-color:#f9db0a;">
	        </div>
	        <div class="mdl-card__supporting-text" id="background-balancis-yellow-2" style="background-color:#dedede;">
	          <table style="width:100%;">
	            <tr>
	              <td style="width:50%;"><i>Cash Out</i></td>
	              <td style="width:50%;text-align:right;"><i>Balance</i></td>
	            </tr>
	            <tr>
	              <td>
	                <input class="mdl-textfield__input" type="number" id="balancis_2_yellow" style="font-size:15px;border-bottom:0px;" ng-model="balancis_2_yellow" autocomplete="off" placeholder="RP 0" ng-keyup="aditionalBalances_2('balancis_2_yellow')"/>
	              </td>
	              <td style="text-align:right;">
	                <h5 style="margin-top:0;margin-bottom:0;font-size:15px;color:#424242;">{{balances_4 | currency:"RP ":0}}</h5>
	              </td>
	            </tr>
	          </table>
	        </div>
	      </div>
			</div>
      <div class="mdl-textfield mdl-js-textfield">
         <textarea class="mdl-textfield__input" type="text" rows="2" id="notes_2" ng-model="notes_2" ng-change="activeSubmitViaNotes(2)"></textarea>
         <label class="mdl-textfield__label" for="notes_2">Click to Add Notes</label>
      </div>
		</center>
  </div>
	<div class="mdl-dialog__actions" style="padding: 0px 0px 0px 0px;">
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="background-color:#6cb043;width:100%;height:100%;" ng-show="buttonSubmit_2" ng-click='submitBalances(2)'>
			<b style="font-size:20px;">SUBMIT</b>
		</button>
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="background-color:#9e9e9e;width:100%;height:100%;margin-right:0px;color:white;" ng-hide="buttonSubmit_2" disabled>
			<b style="font-size:20px;">SUBMIT</b>
		</button>
  </div>
</dialog>

<dialog id="pocket_3" class="mdl-dialog">
	<div class="mdl-dialog__title" style="padding:0px 0px 0px 0px;width:100%;display: flex;">
    <div style="width:50%;position: relative;" ng-click="clickCashout(3)">
      <img src="assets/img/{{imageCashout_3}}" alt="" style="width:98%;height: 70px;" ng-cloak/>
      <center><h5 style="position: absolute;top: 0%;right: 5px;width: 100%;color: white;">Cash Out</h5></center>
    </div>
    <!-- OR -->
    <div style="width:50%;text-align:right;position: relative;" ng-click="clickCashin(3)">
      <img class="" src="assets/img/{{imageCashin_3}}" alt="" style="width:98%;height: 70px;" ng-cloak/>
      <center><h5 style="position: absolute;top: 0%;right: 0px;width: 100%;color: white;">Cash In</h5></center>
    </div>
  </div>
	<div class="mdl-dialog__content" style="padding:0px 0px 0px 0px;width:100%;">
    <br />
		<center>
			<input class="mdl-textfield__input" type="number" id="cashbalance_3" style="text-align:center;font-size:30px;border-bottom:0px;" ng-model="cashbalance_3" autocomplete="off" placeholder="RP 0" ng-keyup="activeSubmit(3)"/>
      <p>
        Your Pocket Balance : {{balances_3 | currency:"RP ":0}}
      </p>
      <br />
			<div ng-show="cashOut_3">
				<b style="color:#00bcd4;">
	        PURPOSE :
	      </b><br /><br />
	      <span class="mdl-chip" style="color:white;" id="foodchip_3" ng-click="chipActive_3('foodchip_3')">
	        <span class="mdl-chip__text"><b>FOOD</b></span>
	      </span>
	      <span class="mdl-chip" style="color:white;" id="transportchip_3" ng-click="chipActive_3('transportchip_3')">
	        <span class="mdl-chip__text"><b>TRANSPORT</b></span>
	      </span>
	      <span class="mdl-chip" style="color:white;" id="entertainmentchip_3" ng-click="chipActive_3('entertainmentchip_3')">
	        <span class="mdl-chip__text"></b>ENTERTAINMENT</b></span>
	      </span>
	      <span class="mdl-chip" style="color:white;" id="othercip_3" ng-click="chipActive_3('othercip_3')">
	        <span class="mdl-chip__text"><b>OTHER</b></span>
	      </span>
			</div>
      <br />
			<div ng-show="balancis_3">
				<div class="mdl-card">
	        <div class="mdl-card__media" style="background-color:#00bcd4;">
	        </div>
	        <div class="mdl-card__supporting-text" style="background-color:#00bcd4;">
	          <table style="width:100%;">
	            <tr>
	              <td style="width:50%;"><i style="color:white;">Cash Out</i></td>
	              <td style="width:50%;text-align:right;"><i style="color:white;">Balance</i></td>
	            </tr>
	            <tr>
	              <td>
	                <h5 style="margin-top:0;margin-bottom:0;font-size:15px;color:white;">{{balances_3 | currency:"RP ":0}}</h5>
	              </td>
	              <td style="text-align:right;">
	                <h5 style="margin-top:0;margin-bottom:0;font-size:15px;color:white;">{{balances_3 | currency:"RP ":0}}</h5>
	              </td>
	            </tr>
	          </table>
	        </div>
	      </div>
	      <div class="mdl-card">
	        <div class="mdl-card__media" style="height:10px;background-color:#71b58b">
	        </div>
	        <div class="mdl-card__supporting-text" id="background-balancis-green-3" style="background-color:#dedede;">
	          <table style="width:100%;">
	            <tr>
	              <td style="width:50%;"><i>Cash Out</i></td>
	              <td style="width:50%;text-align:right;"><i>Balance</i></td>
	            </tr>
	            <tr>
	              <td>
									<input class="mdl-textfield__input" type="number" id="balancis_3_green" style="font-size:15px;border-bottom:0px;" ng-model="balancis_3_green" autocomplete="off" placeholder="RP 0" ng-keyup="aditionalBalances_3('balancis_3_green')"/>
	              </td>
	              <td style="text-align:right;">
	                <h5 style="margin-top:0;margin-bottom:0;font-size:15px;color:#424242;">{{balances_1 | currency:"RP ":0}}</h5>
	              </td>
	            </tr>
	          </table>
	        </div>
	      </div>
	      <div class="mdl-card">
	        <div class="mdl-card__media" style="height:10px;background-color:#ff7388;">
	        </div>
	        <div class="mdl-card__supporting-text" id="background-balancis-red-3" style="background-color:#dedede;">
	          <table style="width:100%;">
	            <tr>
	              <td style="width:50%;"><i>Cash Out</i></td>
	              <td style="width:50%;text-align:right;"><i>Balance</i></td>
	            </tr>
	            <tr>
	              <td>
	                <input class="mdl-textfield__input" type="number" id="balancis_3_red" style="font-size:15px;border-bottom:0px;" ng-model="balancis_3_red" autocomplete="off" placeholder="RP 0" ng-keyup="aditionalBalances_3('balancis_3_red')"/>
	              </td>
	              <td style="text-align:right;">
	                <h5 style="margin-top:0;margin-bottom:0;font-size:15px;color:#424242;">{{balances_2 | currency:"RP ":0}}</h5>
	              </td>
	            </tr>
	          </table>
	        </div>
	      </div>
	      <div class="mdl-card">
	        <div class="mdl-card__media" style="height:10px;background-color:#f9db0a;">
	        </div>
	        <div class="mdl-card__supporting-text" id="background-balancis-yellow-3" style="background-color:#dedede;">
	          <table style="width:100%;">
	            <tr>
	              <td style="width:50%;"><i>Cash Out</i></td>
	              <td style="width:50%;text-align:right;"><i>Balance</i></td>
	            </tr>
	            <tr>
	              <td>
	                <input class="mdl-textfield__input" type="number" id="balancis_3_yellow" style="font-size:15px;border-bottom:0px;" ng-model="balancis_3_yellow" autocomplete="off" placeholder="RP 0" ng-keyup="aditionalBalances_3('balancis_3_yellow')"/>
	              </td>
	              <td style="text-align:right;">
	                <h5 style="margin-top:0;margin-bottom:0;font-size:15px;color:#424242;">{{balances_4 | currency:"RP ":0}}</h5>
	              </td>
	            </tr>
	          </table>
	        </div>
	      </div>
			</div>
      <div class="mdl-textfield mdl-js-textfield">
         <textarea class="mdl-textfield__input" type="text" rows="2" id="notes_3" ng-model="notes_3" ng-change="activeSubmitViaNotes(3)"></textarea>
         <label class="mdl-textfield__label" for="notes_3">Click to Add Notes</label>
      </div>
		</center>
  </div>
	<div class="mdl-dialog__actions" style="padding: 0px 0px 0px 0px;">
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="background-color:#6cb043;width:100%;height:100%;" ng-show="buttonSubmit_3" ng-click='submitBalances(3)'>
			<b style="font-size:20px;">SUBMIT</b>
		</button>
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="background-color:#9e9e9e;width:100%;height:100%;margin-right:0px;color:white;" ng-hide="buttonSubmit_3" disabled>
			<b style="font-size:20px;">SUBMIT</b>
		</button>
  </div>
</dialog>

<dialog id="pocket_4" class="mdl-dialog">
	<div class="mdl-dialog__title" style="padding:0px 0px 0px 0px;width:100%;display: flex;">
		<div style="width:50%;position: relative;" ng-click="clickCashout(4)">
			<img src="assets/img/{{imageCashout_4}}" alt="" style="width:98%;height: 70px;" ng-cloak/>
			<center><h5 style="position: absolute;top: 0%;right: 5px;width: 100%;color: white;">Cash Out</h5></center>
		</div>
		<!-- OR -->
		<div style="width:50%;text-align:right;position: relative;" ng-click="clickCashin(4)">
			<img class="" src="assets/img/{{imageCashin_4}}" alt="" style="width:98%;height: 70px;" ng-cloak/>
			<center><h5 style="position: absolute;top: 0%;right: 0px;width: 100%;color: white;">Cash In</h5></center>
		</div>
	</div>
	<div class="mdl-dialog__content" style="padding:0px 0px 0px 0px;width:100%;">
		<br />
		<center>
			<input class="mdl-textfield__input" type="number" id="cashbalance_4" style="text-align:center;font-size:30px;border-bottom:0px;" ng-model="cashbalance_4" autocomplete="off" placeholder="RP 0" ng-keyup="activeSubmit(4)"/>
			<p>
				Your Pocket Balance : {{balances_4 | currency:"RP ":0}}
			</p>
			<br />
			<div ng-show="cashOut_4">
				<b style="color:#f9db0a;">
					PURPOSE :
				</b><br /><br />
				<span class="mdl-chip" style="color:white;" id="foodchip_4" ng-click="chipActive_4('foodchip_4')">
					<span class="mdl-chip__text"><b>FOOD</b></span>
				</span>
				<span class="mdl-chip" style="color:white;" id="transportchip_4" ng-click="chipActive_4('transportchip_4')">
					<span class="mdl-chip__text"><b>TRANSPORT</b></span>
				</span>
				<span class="mdl-chip" style="color:white;" id="entertainmentchip_4" ng-click="chipActive_4('entertainmentchip_4')">
					<span class="mdl-chip__text"></b>ENTERTAINMENT</b></span>
				</span>
				<span class="mdl-chip" style="color:white;" id="othercip_4" ng-click="chipActive_4('othercip_4')">
					<span class="mdl-chip__text"><b>OTHER</b></span>
				</span>
			</div>
			<br />
			<div ng-show="balancis_4">
				<div class="mdl-card">
					<div class="mdl-card__media" style="background-color:#f9db0a;">
					</div>
					<div class="mdl-card__supporting-text" style="background-color:#f9db0a;">
						<table style="width:100%;">
							<tr>
								<td style="width:50%;"><i style="color:white;">Cash Out</i></td>
								<td style="width:50%;text-align:right;"><i style="color:white;">Balance</i></td>
							</tr>
							<tr>
								<td>
									<h5 style="margin-top:0;margin-bottom:0;font-size:15px;color:white;">{{balances_4 | currency:"RP ":0}}</h5>
								</td>
								<td style="text-align:right;">
									<h5 style="margin-top:0;margin-bottom:0;font-size:15px;color:white;">{{balances_4 | currency:"RP ":0}}</h5>
								</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="mdl-card">
					<div class="mdl-card__media" style="height:10px;background-color:#71b58b">
					</div>
					<div class="mdl-card__supporting-text" id="background-balancis-green-4" style="background-color:#dedede;">
						<table style="width:100%;">
							<tr>
								<td style="width:50%;"><i>Cash Out</i></td>
								<td style="width:50%;text-align:right;"><i>Balance</i></td>
							</tr>
							<tr>
								<td>
									<input class="mdl-textfield__input" type="number" id="balancis_4_green" style="font-size:15px;border-bottom:0px;" ng-model="balancis_4_green" autocomplete="off" placeholder="RP 0" ng-keyup="aditionalBalances_4('balancis_4_green')"/>
								</td>
								<td style="text-align:right;">
									<h5 style="margin-top:0;margin-bottom:0;font-size:15px;color:#424242;">{{balances_1 | currency:"RP ":0}}</h5>
								</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="mdl-card">
					<div class="mdl-card__media" style="height:10px;background-color:#ff7388;">
					</div>
					<div class="mdl-card__supporting-text" id="background-balancis-red-4" style="background-color:#dedede;">
						<table style="width:100%;">
							<tr>
								<td style="width:50%;"><i>Cash Out</i></td>
								<td style="width:50%;text-align:right;"><i>Balance</i></td>
							</tr>
							<tr>
								<td>
									<input class="mdl-textfield__input" type="number" id="balancis_4_red" style="font-size:15px;border-bottom:0px;" ng-model="balancis_4_red" autocomplete="off" placeholder="RP 0" ng-keyup="aditionalBalances_4('balancis_4_red')"/>
								</td>
								<td style="text-align:right;">
									<h5 style="margin-top:0;margin-bottom:0;font-size:15px;color:#424242;">{{balances_2 | currency:"RP ":0}}</h5>
								</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="mdl-card">
					<div class="mdl-card__media" style="height:10px;background-color:#00bcd4;">
					</div>
					<div class="mdl-card__supporting-text" id="background-balancis-blue-4" style="background-color:#dedede;">
						<table style="width:100%;">
							<tr>
								<td style="width:50%;"><i>Cash Out</i></td>
								<td style="width:50%;text-align:right;"><i>Balance</i></td>
							</tr>
							<tr>
								<td>
									<input class="mdl-textfield__input" type="number" id="balancis_4_blue" style="font-size:15px;border-bottom:0px;" ng-model="balancis_4_blue" autocomplete="off" placeholder="RP 0" ng-keyup="aditionalBalances_4('balancis_4_blue')"/>
								</td>
								<td style="text-align:right;">
									<h5 style="margin-top:0;margin-bottom:0;font-size:15px;color:#424242;">{{balances_3 | currency:"RP ":0}}</h5>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div class="mdl-textfield mdl-js-textfield">
				 <textarea class="mdl-textfield__input" type="text" rows="2" id="notes_4" ng-model="notes_4" ng-change="activeSubmitViaNotes(4)"></textarea>
				 <label class="mdl-textfield__label" for="notes_4">Click to Add Notes</label>
			</div>
		</center>
	</div>
	<div class="mdl-dialog__actions" style="padding: 0px 0px 0px 0px;">
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="background-color:#6cb043;width:100%;height:100%;" ng-show="buttonSubmit_4" ng-click='submitBalances(4)'>
			<b style="font-size:20px;">SUBMIT</b>
		</button>
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="background-color:#9e9e9e;width:100%;height:100%;margin-right:0px;color:white;" ng-hide="buttonSubmit_4" disabled>
			<b style="font-size:20px;">SUBMIT</b>
		</button>
	</div>
</dialog>
